In [14]:
'''Dictionaries are mappings, these are collection of objects sorted by keys. Similar to hashmaps. Its a key-value pair. 
Syntax:
dictionary_name={'key_name':'value'}
'''
D1 = {'k1':'phani','k2':'chandraprakash'}
D1['k1']

'phani'

In [15]:
'''Dictionaries are heterogenous, they might contain different data types'''
D2 = {'k1':1234,'k2':'abcd','k3':1.234}
print(D2['k1'])
print(D2['k2'])
print(D2['k3'])

1234
abcd
1.234

In [12]:
D2['k2'][::-1] # string reverse
D2['k2'].upper() # string reverse

'ABCD'

In [16]:
# performing arithmentic operations. This operation doesn't change the original value under key k1. If we want to then we should
# reinitialize it.
D2['k1'] - 1000
D2['k1'] = D2['k1'] - 1000
D2['k1']
D2

{'k1': 234, 'k2': 'abcd', 'k3': 1.234}

In [25]:
#self addition, subtraction, multiplication and division operations
D2['k1'] += 100
D2['k1'] -= 50
D2['k1'] *= 50
D2['k1'] /= 50
D2['k1']

1462600.0

In [29]:
ed = {}
ed
ed['a'] = 'animal'
ed['n'] = 100
ed

{'a': 'animal', 'n': 100}

In [37]:
# nested dictionaries
nd = {'n1': {'n2': {'n3':'string'}}}
nd['n1']['n2']['n3'].upper()

'STRING'

In [39]:
# inbuilt dictionary functions
d3 = {}
d3['k1'] = 1
d3['k2'] = 2
d3['k3'] = 3
d3

{'k1': 1, 'k2': 2, 'k3': 3}

In [41]:
# retrieve all the keys in a random order
d3.keys()

dict_keys(['k1', 'k2', 'k3'])

In [43]:
# retrieve all the values in a random order
d3.values()

dict_values([1, 2, 3])

In [45]:
# tuples. Very very important concept. This retrieves the key-value pair combination
# ([('k1', 1)]) this is called a tuple.
d3.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])